.emoji_block span{
    display: inline-block;
}

.emoji_block span{
    font-size: 25px;
    line-height: 38px;
    height: 38px;
    min-width: 38px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    padding: 0 4px;
    border: 1px solid transparent;
    cursor: pointer;
}

.emoji_block span:hover{
    background: #DCDCDC;
}