.search_form {
    overflow: hidden;
    margin-bottom: 25px;
}

.search_form .input_wrap{
    float: right;
    width: 100%;
    position: relative;
}

.search_form .input_wrap input{
    background: #fff;
    height: 36px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    text-indent: 15px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    transition: 300ms;
}

.search_form .input_wrap input:focus{
    border: 1px solid #523ee8;
}

.search_form .input_wrap input:active,
.search_form .input_wrap input:focus{
    outline: none;
}